@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo!</h1>
    <p>Projeto N° 1 - Abastace Barato AL. <a href="https://github.com/mateusneko/AbasteceBaratoAL/">Github do Projeto</a>.</p>
</div>
<br/>

<div class="text-center">
    <h1 class="display-4"></h1>
    <p>Projeto ASP.NET Core para consulta dos preços de combustíveis no Estado de Alagoas.</p>
    <p>Nele é possível consultar o preço de todos os postos de combustível tendo como base as últimas emissões de NFs através de consulta da API Sefaz-AL. Com isso, podemos oferecer uma consulta precisa e consistente.</p>
    <br/>
    <p>Lembre-se é muito importante você solicitar a NF ao abastecer pois é através dela que você poderá cobrar um combustível de qualidade.</p>
</div>